<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cortris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet">
    <link rel="icon" href="../static/favicon.png" type="image/png">
  </head>
  <body>
    <header>
      <a href="../">index</a>
      &#8280; &#8280;
      cortris
    </header>
    <main>
      <h1>Cortris</h1>
      <ul>
        <li>Short URL: <a href="../{{ .ShortURL }}/">{{ .ShortURL }}</a></li>
        <li>Original URL: {{ .URL }}</li>
      </ul>
      <form action="./" method="post">
        <h3>URL to shorten</h3>
        <input type="text" maxlength="256" name="url" required>
        <input type="submit" name="submit" value="Go!">
      </form>
      <br>
    </main>
    <footer>
      <p>
        Copyright &copy; 2020 Adalricus Ovicula<br>
        Cortris is licensed under the ISC License.
        </a>
      </p>
    </footer>
  </body>
</html>
